{{ define "main" }}
<content>
  {{ with .Content }}
  {{ . }}
  {{ end }}

  <h2>Recent Articles</h2>
  <ul class="blog-posts">
    {{ range first 10 (.Site.RegularPages.ByDate.Reverse) }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}'>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ with .Section }}<strong>{{ . | title }}:</strong> {{ end }}{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</content>
{{ end }}
